<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
    <label>Email:<input type="email" name="email"></label><br>
    <label>Password:<input type="password" name="email"></label><br>
    <input type="submit" value="Log In">
</form>

